* {
margin:0;
}

.all-lists{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.heading{
    text-align: center;
}
.list-heading{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-content{
    font-size: larger;
}

.item-input{
    
    margin-top: 50px;
    width: 30%;
    margin-bottom: 50px;
}

.login-page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-card{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.footer{
    margin-top: 200px;
    max-height: 20px;
}
.footer-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.login-screen{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.register-screen{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}